body {
    background-color: #ecf0f1;
}

.container {
    margin: 30px;
    text-align: center;
    align-items: center;
}
.post h1 {
    font-size: 40px;
    color:  #016901;
    margin-bottom:50px;
}

form label {
    display: block;
    font-size: 40px;
    margin-bottom: 10px;     
    color:  #016901;
}

form input, textarea {
    font-size: 30px;      
    color:  #016901;
}

.btn-green {
    color: white;
    background-color: green;
    margin: 20px 0 50px 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}