header {
  margin-top: 80px;
  font-size: 30px;
  text-align: center;
  color: #4da045;
}

.img-container {
  text-align: center;
}

.img-container > img{
  height: 800px;
  width: 800px;
  background-position: center;
}

main .text {
  text-align: center;
  color: #30702a;
} 


